
p{text-align: justify;}

.shiny-input-container:not(.shiny-input-container-inline) { width: 100%; }

.dropdown-menu{z-index:10000 !important;}

#support{
  position: fixed;
  right: 120px;
  top: 20px;
}

#version{
  position: fixed;
  right: 30px;
  top: 20px;
}

.navbar-fixed-top {
  position: fixed;
}

body {padding-top: 80px;}


.plotsave {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
}

