.rmd-caution, .rmd-important, .rmd-note, .rmd-tip, .rmd-warning {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
}
.rmd-caution {
  background-image: url("icons/caution.png");
}
.rmd-important {
  background-image: url("icons/important.png");
}
.rmd-note {
  background-image: url("icons/note.png");
}
.rmd-tip {
  background-image: url("icons/tip.png");
}
.rmd-warning {
  background-image: url("icons/warning.png");
}

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
p.flushright {
  text-align: right;
}
blockquote > p:last-child {
  text-align: right;
}
blockquote > p:first-child {
  text-align: inherit;
}

p{
  text-align: justify;
}